<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ユーザー詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
              <% if @user.image? %>
              <%= image_tag @user.image.url %>
              <% else %>
              <%= image_tag "/user_images/jisin_app_user.png" %>
              <% end %>
            </figure>

          </div>

          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>
                <td class="is-size-4">
                  <%= @user.email %>
                </td>
                <td>
                    <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="columns is-centered">
  <div class="column is-5">
    <h2  class="title" style="margin-top: 50px;">
      獲得したスゴイね！の総数 :
      <%= @liked.count %>
    </h2>
  </div>
</div>

<section  class="section">
<div class="columns is-centered">
  <div class="column is-6">
    <article class="panel is-link">
      <p class="panel-heading">
        今月の積み上げ記録
      </p>
      <<%= month_calendar events: @user.posts do |date, posts| %>
          <%= date.day %>
          <% posts.each do |post| %>
            <div>
              <%= link_to("積上済", post_path(post)) %>
            </div>
          <% end %>
        <% end %>
    </article>
  </div>


</div>

</section>
