<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        みんなの積み上げ一覧
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns is-centered">
    <div class="column is-11">
      <% @posts.each do |post| %>
      <article class="box media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag post.user.image.url %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p><strong><%= link_to(post.user.username, user_path(post.user.id)) %></strong><br>
              <%= link_to(post.content, post_path(post) ) %><br>
              <small><a>
                <% if  current_user.already_liked?(post) %>
                  既にスゴイね！済です
                <% else %>
                <%= link_to(post_likes_path(post),method: :post)do %>
                スゴイね！をする
                <% end %>
                <% end%>
              </a>
              <time datetime="2016-1-1"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></time></small>
            </p>
          </div>
        </div>
      </article>
      <% end %>
    </div>

  </div>

</div>
