<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規投稿
      </h1>
    </div>
  </div>
</section>


<% if @user.point == nil %>
はじめての積み上げを記録してみよう！
<% elsif @user.point < 3 %>
積み上げを記録するにはあと<%= 3-@user.point %>回他の積み上げをスゴイね！してください。
<% end %>

<div class="columns is-centered ">
  <div class="column is-11 ">
    <% @post.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>

    <%= form_for @post do |f| %>

    <%= f.label :content, "積み上げ内容：" %>
    <%= f.text_field :content %>

    <%= f.submit %>
    <% end %>
  </div>

</div>
