<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規投稿
      </h1>
    </div>
  </div>
</section>



<div class="columns is-centered ">
  <div class="column is-11 ">
    <% @post.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>

    <%= form_for @post do |f| %>

    <%= f.label :content, "積み上げ内容：" %>
    <%= f.text_field :content %>

    <%= f.submit %>
    <% end %>
  </div>

</div>
